<p>Hi <%= user.name %>!</p>
<p><b><%= client.name %></b> 请求使用你的账号登录</p>
<p>你同意吗？</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
  <div>
    <input type="submit" value="允许" id="allow" />
    <input type="submit" value="拒绝" name="cancel" id="deny" />
  </div>
</form>
